
.Middle-part{
  width: 200px;
  height: 200px;
  background: red;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 3px;
  border-style: dotted;
}
.Bottom-part{
  width: 200px;
  height: 200px;
  background: green;
}
body{
  margin: 0px;
}
.T{
  width: 200px;
  height: 200px;
  background-color: red;
  border: solid 10px;
}
.M{
  width: 200px;
  height: 200px;
  background-color: gray;
  border: dotted 20px;
  margin-left: 220px;
}
.B{
  width: 200px;
  height: 200px;
  background-color: yellow;
  border: solid 30px;
  margin-left:460px;
}
.red1{
  background-color: red;
  width: 100px;
  height: 100px;
  position: relative;
  left: 20px;
  top: 30px;
}
.blue1{
  background-color: blue;
  height: 100px;
  width: 100px;
  position: relative;
  right: 20px;
}
.yellow1{
  background-color: yellow;
  height: 100px;
  width: 100px;
}
/* Relative position */
.red2{
  background-color: red;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
 left: 200px;
}
.blue2{
  background-color: blue;
  height: 100px;
  width: 100px;
display: inline-block;
  position: relative;
  right: 100px
}
.yellow2{
  background-color: yellow;
  height: 100px;
  width: 100px;
  display: inline-block;
  position: relative;
  right:100px;
}
/* Absolute position*/
.red3{
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
}
.blue3{
  background-color: blue;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 100px;
  top: 1950px;
}
.yellow3{
  background-color: yellow;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 200px;
  top: 2050px;
}
/* Fixed position*/
.red4{
  background-color: red;
  width: 100px;
  height: 100px;

}
.blue4{
  background-color: blue;
  height: 100px;
  width: 100px;

}
.yellow4{
  background-color: yellow;
  height: 100px;
  width: 100px;
  
}
