body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
background-color: #DFF6FF;
}
h1{
  color: #66BFBF;
  font-size: 5.6rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #66BFBF;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 1;
}
h3{
  color:  #11999E;
  font-family: 'Montserrat', sans-serif;
}
a{
  color:  #11999E;

}
p{
  font-family: 'Yeseva One', cursive;
 line-height: 2;
}
.skill-row{
  width: 50%;
  text-align: left;
  margin: 50px auto 50px auto;
}
.sk1{
  width: 25%;
  float: left;
  margin-right:30px;
}
.sk2{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.dot{
  width: 15%;
  border-style: dotted none none none;
  border-width: 5px;
  border-color: gray;
  }
  .intro1{
    width: 40%;
    margin: auto;
  }


  .btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e4cb;
  background-image: -webkit-linear-gradient(top, #30e4cb, #2bc480);
  background-image: -moz-linear-gradient(top, #30e4cb, #2bc480);
  background-image: -ms-linear-gradient(top, #30e4cb, #2bc480);
  background-image: -o-linear-gradient(top, #30e4cb, #2bc480);
  background-image: linear-gradient(to bottom, #30e4cb, #2bc480);
  text-decoration: none;
}
  .footer-link{
    margin: 30px;
    color: #034831;
     text-decoration: none;
  }
  a:hover{
    color: #eaf6f6;
  }
  .copy{
    color: #eaf6f6;
  }
.varun1{
  padding-top: 100px;
  position: relative;
}
.bottom-container{
  background-color: #66BFBF;
  height: 100px;
  text-align: center;
  padding: 50px 0 30px;
}
.varun-cloud2{
  position: absolute;
  left: 250px;

}
.varun-cloud1{
  position: relative;
  left: 300px;

}
